* {
    color: #ffffff;
    border: #5f7d95;
    background-image: linear-gradient(#63a4f3, #1273eb);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    background-image: url("bgimage.png");
}