<h1>Subjects</h1>

<style>
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
</style>

<div class="my-2">
    <a href="/subjects/create">Add a new subject</a>
</div>

{{#each subjects}}

    <a href="/subjects/{{_id}}"><h3>{{name}}</h3></a>

{{/each}}
