<h1>Create a new subject</h1>

<form action="/subjects" method="get">
    {{!-- Name --}}
    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" placeholder="Enter Name">
    </div>

    {{!-- Code --}}
    <div class="form-group">
        <label>Code</label>
        <input name="code" class="form-control" placeholder="Subject Code">
    </div>
        <br>

        {{!-- Select --}}
    <div>
        <select name="department" id="" class="form-select">

            {{#each departments}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    {{!-- Button --}}
    <div class="mt-3">
        <button class="btn btn-success" type="submit">Add</button>
    </div>
</form>