<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/login_style.css">
    <title>Login</title>    
</head>

<body>
    <div class="overley"></div>
    <header>
        <h2 class="logo">Academy</h2>
        <nav class="navigation">
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
    <div class="container">
        <div class="title">
            <h1>Welocme To The <span> Academy </span></h1>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut dignissimos illum porro reiciendis magnam
                aspernatur!</P>
        </div>
        <div class="wrapper">
            <span class="icon-close">
                <ion-icon name="close"></ion-icon>
            </span>

            <div class="form-box login" >
                <h2>Login</h2>
                <form action="/home/check_login" method="post">
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail"></ion-icon></span>
                        <input type="email" name="email" required >
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="lock-closed"></ion-icon>
                        </span>
                        <input type="password" name="password" required id="password">
                        <label>password</label>
                    </div>
                    <div class="radio-group" name="type">
                        <label class="radio"><input type="radio" value="admin" name="checked"> Admin
                            <span></span>
                        </label>
                        <label class="radio"><input type="radio" value="doctor" name="checked"> Doctor
                            <span></span>
                        </label>
                        <label class="radio"><input type="radio" value="student" name="checked"> Student
                            <span></span>
                        </label>
                    </div>
                    <div class="remember-forget">
                        <label><input type="checkbox"> Remember Me</label>
                        <a href="">Forget Password</a>
                    </div>
                    <div class="btn1">
                        <button type="submit" class="btn">login</button>
                    </div>
                </form>
            </div>
            <!--///////////////////////////////////////////////////////////////////-->
        </div>

    </div>
    
    <script src="../../js/login_script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>

</html>